# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/db
/.idea
/build
/sleep/.idea
/sleep/.gradle
/sleep/build

/sleep/src/main/resources/application.properties
/sleep/src/main/resources/application-unittest.properties